<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web-site portfolio</title>
	<link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/portfolio.css">
	<script src="../js/portfolio.js" defer></script>
</head>
<body>

	<section class="layers">
		<div class="layers__container">
			<div class="layers__item layer-1" style="background-image: url(../img/layer-1.jpg);"></div>
			<div class="layers__item layer-2">
				<div class="hero-content">
					<h1> Web-site with <span>HTML / CSS / JS</span></h1>
					<button class="button-start">Start Learning</button>
				</div>
			</div>
			<div class="layers__item layer-3" style="background-image: url(../img/layer-3.png);"></div>
			<div class="layers__item layer-4" style="background-image: url(../img/layer-4.png);"></div>
			<div class="layers__item layer-5" style="background-image: url(../img/layer-5.png);"></div>
			<div class="layers__item layer-6" style="background-image: url(../img/layer-6.png);"></div>
		</div>
	</section>
	<section>
		<div style="height: 100vh;"></div>
	</section>

</body>
</html>